@import url('https://fonts.googleapis.com/css?family=Red+Hat+Text&display=swap');

html,body {
  margin: 0;
  padding: 0;
  background-color:#F3F5F4;
  height: 100%;
  position: relative;
  color:white;
  font-family: 'Red Hat Text', sans-serif;
}

.calculator {
  width: 280px;
  min-height:450px;
  background-color: white;
  margin: 0 auto;
  position: relative;
  top:10%;
  border-radius: 10px;
  padding: 0 0;
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);


  grid-column-gap: 0.05em;
  grid-row-gap: 0.08em;

  text-align: center;

  color:white;

}

.items {
  background-color: #F15B5A;
  -webkit-box-shadow: 0px 19px 36px -8px rgba(241,93,91,1);
  -moz-box-shadow: 0px 19px 36px -8px rgba(241,93,91,1);
  box-shadow: 0px 19px 36px -8px rgba(241,93,91,1);
  cursor: pointer;
}
.items:hover {
  background-color: #E33D3D;
}

.item1:hover {
  background-color: #333766;
}

.item1 {
  grid-area: 1/1/ 3/ -1 ;
  background-color: #333766;
  border-radius: 10px 10px 0 0;
  color:white;
}

.item1 p {
  font-size: 55px;
  margin: 0;
  padding: 0;
  position: relative;
  top:45px;
  right: -25px;
}

.item18 {
  grid-column: 1/3 ;
}

.item18 {
  border-radius: 0 0 0 10px;
}
.item20 {
  border-radius: 0 0 10px 0;
}
